<h3>Your profile</h3>

<h1><%= current_user.email %></h1>

<h3>Your restaurants</h3>

<p>
  <ul>
    <% current_user.restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
</p>

<p><%= link_to "Add new restaurant", new_restaurant_path %></p>
